* {
  margin: 0;
  padding: 0;
}

table, td {
  border: 1px solid black;
}

.profile .image .foto-saya {
  width: 300px;
}

.profile .profile-name {
  vertical-align: text-top;
  padding-left: 10px;
}