header {
  width: 500px;
  height: 50px;
  background-color: red;
}

nav, main, aside {
  height: 500px;
}

nav, aside {
  width: 200px;

}

.flex {
  display: flex;
}

nav {
  background-color: antiquewhite;
}

main {
  width: 500px;
  background-color: aqua;
}

aside {
  background-color: blue;
}

footer {
  width: 500px;
  height: 50px;
  background-color: yellow;
}
