header {
  height: 100px;
  width: 100%;
  background-color: red;
}

.flex {
  display: flex;
  height: 500px;
  gap: 10px;
}

nav {
  width: 25%;
  background-color: violet;
  display: flex;
}

main {
  width: 50%;
  background-color: yellow;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box {
  width: 100px;
  height: 200px;
  border: 1px solid red;
}

aside {
  width: 25%;
  background-color: wheat;
}

footer {
  height: 100px;
  width: 100%;
  background-color: red;
}
