body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(gunung.jpg);
}

#is-sabiq {
  color: red;
}

.is-muhammad {
  color: green;
}

h3, h4, h5 {
  color: blue;
}

h5 {
  font-size: 50px;
  background-color: black;
}

p {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  color:#e74c3c;
  background-color: black;
}

a {
  text-decoration: none;
}

/* h3 {
  color: blue;
}

h4 {
  color: blue;
}

h5 {
  color: blue;
} */