* {
  margin: 0;
  padding: 0;
}

.box1, .box2 {
  width: 500px;
  height: 500px;
}

.container-flex {
  background-color: bisque;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: blue;
}

