* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.box {
  width: 400px;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
}

.box-1 {
  border: 2px solid red;
  margin: 30px;
  float: left;
}

.box-2 {
  border: 2px solid blue;
  margin: 30px;
  float: right;
}

.test-problem-float {
  width: 100vw;
  height: 500px;
  background-color: aqua;
}

/* seperator */

.container {
  width: 80vw;
  height: 1000px;

  margin: 200px auto;
  position: relative;
  background-color: aquamarine;
}

.square {
  width: 300px;
  height: 300px;
}

.square-1 {
  background-color: red;
  position: relative;
}

.square-2 {
  background-color: blue;
  position: relative;
}

.square-3 {
  background-color: cadetblue;
  position: absolute;
  left: 200px;
}

.square-4 {
  background-color: chartreuse;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.square-5 {
  background-color: red;
  position: absolute;
  right: 0;
}

.POP_UP {
  width: 100%;
  height: 100px;
  background-color: rgb(182, 27, 130);
  top: 0;
  left: 0;
  z-index: 100;
  /* position: fixed; */
}

.STICKY {
  background-color: pink;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: red!important;
  }
} */